body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button, a {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
}

a {
    background-color: #4caf50;
    color: #fff;
}



a:hover {
    text-decoration: underline;
}
